<div *ngIf="auth.isLoggedIn()" [ngStyle]="{textAlign: 'center'}" id="myZone">
  <div class="display-4"> My Email: </div>
  <div class="details"> {{myDetails.myEmail}} <br/> <br/> </div>

  <div class="display-4"> My Full Name: </div>
  <div class="details"> {{myDetails.myFullName}} <br/> <br/> </div>

  <div class="display-4"> My Profession: </div>
  <div class="details"> {{myDetails.myProfession}} <br/> <br/> </div>

  <div class="display-4"> My City: </div>
  <div class="details"> {{myDetails.myCity}} </div>
</div>
<div *ngIf="!auth.isLoggedIn()">
  <br/>
  <div class="display-4" [ngStyle]="{color:'red', textAlign:'center'}"> Not Logged In! </div>
</div>


