<div class="myTable rounded-lg"  [ngStyle]="{textAlign: 'center'}" *ngIf="auth.isLoggedIn()">
  <div class="display-3"> Current Forum: {{currentForumName}} </div>
  <br/>
  <button class="btn btn-primary" id="createPostBtn" routerLink="/posts/create"> New Post </button>
  <br/>
  <button class="btn btn-primary" id="returnToForumsBtn" routerLink="/forums"> Back to Forums </button>
  <br/><br/>
  <table class="table table-hover shadow-lg rounded-lg" id="myPostsTable">
    <thead class="thead-dark">
    <tr>
      <th class="width-sm">
        Post Title
      </th>
      <th class="width-sm">
        Post Subject
      </th>
      <th class="width-sm">
        Post Id
      </th>
      <th class="width-sm">
        Forum Name
      </th>
      <th class="width-sm">
        Post Location
      </th>
      <th class="width-sm">
        Post Participants
      </th>
      <th class="width-sm">
        Actions
      </th>
    </tr>
    </thead>
    <tbody id="myTablePostsD">
    </tbody>
  </table>
</div>
<div *ngIf="!auth.isLoggedIn()">
  <br/>
  <div class="display-4" [ngStyle]="{color:'red', textAlign:'center'}"> Not Logged In! </div>
</div>
