<nav class="navbar navbar-expand-sm navbar-brown fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="clickedHome()">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="clickedForums()">Forums</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="clickedMyZone()">MyZone</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center" id="primary_jumbotron_display">
  <div id="primaryDisplayBorder">
    <div id="primaryDisplayContent">{{primaryDisplayBorderTitle}}</div>
    <p>{{primaryDisplayBorderContent}}</p>
  </div>
</div>

