<nav class="navbar navbar-expand-sm navbar-brown fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/forums">Forums</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/posts">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/myZone">MyZone</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/statistics">Statistics</a>
      </li>
      <li class="nav-item" *ngIf="!auth.isLoggedIn()">
        <a class="nav-link" routerLink="/login" >Log In</a>
      </li>
      <li class="nav-item" *ngIf="!auth.isLoggedIn()">
        <a class="nav-link" routerLink="/register" >Register</a>
      </li>
      <li class="nav-item" *ngIf="auth.isLoggedIn()">
        <a class="nav-link" routerLink="/users" >Users</a>
      </li>
      <li class="nav-item" *ngIf="auth.isLoggedIn()">
        <a class="nav-link" (click)="auth.logout()">Log Out</a>
      </li>
      <li *ngIf="auth.isLoggedIn()">
        Welcome, {{auth.getUserEmail()}}
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron text-center" id="primary_jumbotron_display">
  <div id="primaryDisplayBorder">
    <div id="primaryDisplayContent">{{primaryDisplayBorderTitle}}</div>
    <p>{{primaryDisplayBorderContent}}</p>
  </div>
</div>

